<div id="acidentes-transito">
	<span id="titulo">Acidentes de Trânsito</span>
	<p id="descricao"></p>
	<p id="instrucoes">
		<ul>
			<li>
				Mantenha a calma e verifique todo o local.
			</li>
			<li>
				Garanta a segurança, sinalizando a rodovia, evitando possíveis acidentes.
			</li>
			<li>
				Tenha controle da situação, afaste as pessoas.
			</li>
			<li>
				Verifique a situação da vítima e do acidente.
			</li>
			<li>
				Se o carro estiver ligado, desligue a chave.
			</li>
			<li>
				Segure a cabeça do acidentado e não deixe nunca a vítima mover a cabeça, solte apenas quando os paramédicos chegarem e solicitar.
			</li>
			<li>
				Veja se o cinto de segurança não está engasgando ou dificultando a pessoa acidentada, se for o caso, solte o cinto devagar, só movimente a pessoa se a mesmo estiver correndo perigo aonde se encontra.
			</li>
			<li>
				Tente fazer a pessoa se comunicar, evitando que ela se mova.
			</li>
			<li>
				Chame a emergência, e tente passar todas as informações do acidente e das vítimas.
			</li>
			<li>
				Não de nada para a pessoa beber, não faça torniquetes e não retire o capacete.
			</li>
		</ul>
	</p>
</div>

<div id="epilepsia">
	<span id="titulo">Epilepsia</span>
	<p id="descricao"></p>
	<p id="instrucoes">
		<ul>
			<li>
				Coloque um travesseiro ou almofada em baixo da cabeça do indivíduo.
			</li>
			<li>
				Afrouxe suas roupas, como abrir o cinto ou afrouxar a gravata, por exemplo, retirar óculos e relógio e posicioná-lo deitado de barriga para cima com a cabeça virada para o lado para evitar que o mesmo se engasgue.
			</li>
			<li>
				Afaste objetos que possam lesionar o indivíduo.
			</li>
			<li>
				Não dê nada para ele beber, não jogue água nem tente segurar o indivíduo. Não tentar forçar a pessoa a ficar quieta.
			</li>
			<li>
				Durante o ataque não introduza qualquer objeto na boca nem tente puxar a língua (a teoria de que as pessoas podem "enrolar a língua" e asfixiar não tem fundamento).
			</li>
			<li>
				Se a vítima não recuperar a consciência dentro de 15 minutos, chame a emergência.
			</li>
			<li>
				Permaneça com a pessoa até que recupere os sentidos e respire normalmente.
			</li>
		</ul>
	</p>
</div>

<div id="parada-cardiaca">
	<span id="titulo">Parada Cardíaca</span>
	<p id="descricao"></p>
	<p id="instrucoes">
		<ul>
			<li>
				Antes de tudo, chame o socorro ligando para a emergência.
			</li>
			<li>
				Deite a vítima no chão, com a barriga para cima.
			</li>
			<li>
				Levante um pouco o queixo para facilitar a respiração.
			</li>
			<li>
				Desaperte as roupas, como gravatas e cintos.
			</li>
			<li>
				Na linha imaginária entre os mamilos, apoie uma mão em cima da outra.
			</li>
			<li>
				Faça ao menos duas compressões por segundo até a chegada da emergência.
			</li>
		</ul>
	</p>
</div>

<div id="queimaduras">
	<span id="titulo">Queimaduras</span>
	<ul id="escolhas">
		<li>
			<span id="titulo">1º grau</span>
			<p id="descricao">Queimadura que fica vermelhidão e ardência na área afetada</p>
			<p id="instrucoes">
				<ul>
					<li>
						Resfriar bem o local com água fria ou soro fisiológico em abundância, até que a dor amenize.
					</li>
					<li>
						Não retirar roupa ou tecidos que ficarem “colados” a pele.
					</li>
					<li>
						Não estourar as bolhas ou retirar a pele das que já estouraram.
					</li>
					<li>
						Não passar gelo sobre a queimadura, pois o gelo também queima.
					</li>
					<li>
						Não aplicar soluções caseiras como: pó de café, manteiga, creme dental, entre outros.
					</li>
				</ul>
			</p>
		</li>
		<li>
			<span id="titulo">2º grau</span>
			<p id="descricao">Aparecem bolhas no local afetado</p>
			<p id="instrucoes">
				<ul>
					<li>
						Resfriar bem o local com água fria ou soro fisiológico em abundância.
					</li>
					<li>
						Sem esfregar, deve-se lavar a área com cuidado, utilizando antisséptico ou sabão neutro, não usar álcool.
					</li>
					<li>
						Não “estourar” bolhas que se formarem no local e nem retirar pele que já estiverem arrebentadas, colocar uma gaze úmida no local após o local esfriar e a dor diminuir.
					</li>
					<li>
						O curativo deve permanecer 24 horas sob a região da queimadura e somente após esse tempo deve ser exposta ao livre para evitar infecções.
					</li>
					<li>
						Não retirar roupa ou tecidos que ficarem “colados” a pele.
					</li>
					<li>
						Não estourar as bolhas ou retirar a pele das que já estouraram.
					</li>
					<li>
						Não passar gelo sobre a queimadura, pois o gelo também queima.
					</li>
					<li>
						Não aplicar soluções caseiras como: pó de café, manteiga, creme dental, entre outros.
					</li>
				</ul>
			</p>
		</li>
		<li>
			<span id="titulo">3º grau</span>
			<p id="descricao">Atingem uma área profunda da pele</p>
			<p id="instrucoes">
				<ul>
					<li>
						Resfriar bem o local com água fria ou soro fisiológico em abundância.
	Chame a emergência.
					</li>
					<li>
						Sem esfregar, deve-se lavar a área com cuidado, utilizando antisséptico ou sabão neutro, não usar álcool.
					</li>
					<li>
						Envolver a área afetada em um lençol limpo e molhado com soro fisiológico ou com água fria.
					</li>
					<li>
						Por se tratar de uma queimadura grave, a vítima deve receber atendimento médico de forma mais rápida possível.
					</li>
					<li>
						Não retirar roupa ou tecidos que ficarem “colados” a pele.
					</li>
					<li>
						Não estourar as bolhas ou retirar a pele das que já estouraram.
					</li>
					<li>
						Não passar gelo sobre a queimadura, pois o gelo também queima.
					</li>
					<li>
						Não aplicar soluções caseiras como: pó de café, manteiga, creme dental, entre outros.
					</li>
				</ul>
			</p>
		</li>
	</ul>
</div>

<div id="engasgo">
	<span id="titulo">Engasgo</span>
	<ul id="escolhas">
		<li>
			<span id="titulo">Engasgo Bebês e Crianças</span>
			<p id="descricao"></p>
			<p id="instrucoes">
				<ul>
					<li>
						Coloque a criança de barriga para baixo em seu braço, de modo que a cabeça fique mais baixa.
					</li>
					<li>
						Segure o queixo com a mão do braço em que a criança está apoiada.
					</li>
					<li>
						Com a outra mão faça cinco compressões no meio das costas.
					</li>
					<li>
						<strong>Caso continue o engasgo</strong>
					</li>
					<li>
						Vire a criança de cabeça para cima.
					</li>
					<li>
						Com dois dedos faça cinco compressões no tórax, abaixo da linha imaginária que liga um mamilo ao outro.
					</li>
					<li>
						Se nada funcionar, chame a emergência.
					</li>
				</ul>
			</p>
		</li>
		<li>
			<span id="titulo">Engasgo Adulto</span>
			<p id="descricao"></p>
			<p id="instrucoes">
				<ul>
					<li>
						Fique de pé atrás da vítima.
					</li>
					<li>
						Passe o braço em torno do tronco da vítima.
					</li>
					<li>
						Cerre o punho da mão direita e coloque-a sobre a boca do estômago da vítima.
					</li>
					<li>
						Coloque a outra mão sobre o punho cerrado.
					</li>
					<li>
						Faça pressão com as mãos contra o estômago da vítima para dentro e para cima.
					</li>
					<li>
						Caso a vítima continue engasgada e sem conseguir respirar por mais de 30 segundos, é recomendado chamar ajuda médica.
					</li>
				</ul>
			</p>
		</li>
	</ul>
</div>

<div id="afogamento">
	<span id="titulo">Afogamento</span>
	<p id="descricao"></p>
	<p id="instrucoes">
		<ul>
			<li>
				Se a vítima estiver em apneia (falta de respiração), utilize a respiração boca a boca, assoprando vigorosamente o ar dentro da cavidade bucal dela em intervalos regulares.
			</li>
			<li>
				Realize sopros ritmados com intervalos de aproximadamente cinco segundos.
			</li>
			<li>
				Prossiga com a manobra até que a vítima possa respirar sozinha.
			</li>
			<li>
				Verifique o pulso e se a vítima estiver sem pulso realize massagem cardíaca.
			</li>
			<li>
				Com o indivíduo deitado, posicione as mãos sobre o peito da vítima, entre os mamilos.
			</li>
			<li>
				Com os braços esticados, empurre as suas mãos com força, utilizando o peso do seu próprio corpo, contando, no mínimo, 2 empurrões por segundo até a chegada do serviço de resgate.
			</li>
		</ul>
	</p>
</div>

<div id="quedas">
	<span id="titulo">Quedas</span>
	<p id="descricao"></p>
	<p id="instrucoes">
		<ul>
			<li>
				Mantenha calma e garanta que o ambiente não fornece riscos para uma nova queda.
			</li>
			<li>
				Se a queda for grave como acidente de moto, queda acima de dois metros ou contato forte com o chão durante a queda solicite logo o auxílio médico.
			</li>
			<li>
				Observe se a vítima está consciente e responde quando é chamada, se estiver consciente a oriente para não fazer nenhum movimento, caso esteja inconsciente verifique sua respiração, caso não esteja respirando de forma correta efetue massagem cardíaca até chegar ajuda médica.
			</li>
			<li>
				Em caso de sangramento fazer pressão sobre o local da hemorragia com um pano limpo por, pelo menos, dez minutos ou até chegada da ajuda médica.
			</li>
			<li>
				Em caso de fratura (Para fratura exposta não realize nenhuma ação) imobilizar o membro lesionado na posição em que está com tábuas, ataduras ou lençóis.
			</li>
			<li>
				Para fazer a massagem cardíaca com o indivíduo deitado, posicione as mãos sobre o peito da vítima, entre os mamilos.
			</li>
			<li>
				Com os braços esticados, empurre as suas mãos com força, utilizando o peso do seu próprio corpo, contando, no mínimo, dois empurrões por segundo até a chegada do serviço de resgate. É importante deixar que o tórax do paciente volte à posição normal entre cada empurrão. Caso tenha mais alguma pessoa para ajudar, devem revezar a massagem cardíaca a cada dois minutos.
			</li>
		</ul>
	</p>
</div>

<div id="cortes-hemorragia">
	<span id="titulo">Cortes e Hemorragia</span>
	<ul id="escolhas">
		<li>
			<span id="titulo">Cortes</span>
			<p id="descricao"></p>
			<p id="instrucoes">
				<ul>
					<li>
						Antes de prestar o atendimento necessário lave bem suas mãos com água e sabão para não transmitir bactérias e germes para os ferimentos.
					</li>
					<li>
						Limpe o local do ferimento com um pano ou gaze umedecido suficiente para identificar o local do ferimento.
					</li>
					<li>
						Com panos e gazes limpos pressione o local ferido até estancar o ferimento.
					</li>
					<li>
						Se o sangramento não parar de 5 a 10 minutos procurar um atendimento de urgência e emergência.
					</li>
					<li>
						Se houver necessidade de sutura (ponto), deve-se procurar uma unidade hospitalar.
					</li>
					<li>
						Não deixe o ferimento exposto ao ar livre, sujeito a contaminações e infecções.
					</li>
				</ul>
			</p>
		</li>
		<li>
			<span id="titulo">Hemorragia Externa</span>
			<p id="descricao">
				É o tipo de sangramento exterior ao corpo, ou seja, que é facilmente visível. Pode ocorrer em camadas superficiais da pele por corte ou perfurações, ou mesmo atingindo áreas mais profundas através de aberturas ou orifícios gerados por traumas.
				É necessário manter e transmitir a calma diante da situação, passando à vítima confiança.
			</p>
			<p id="instrucoes">
				<ul>
					<li>
						Deite a pessoa em posição horizontal, pois facilita a circulação sanguínea entre o coração e o cérebro, e mantenha a área afetada acima do corpo.
					</li>
					<li>
						Aplique sobre o corte, perfuração ou ferimento, uma compressa com gaze, ou um pano limpo (se possível antes, use luvas descartáveis, a fim de evitar possíveis contaminações), fazendo uma pressão firme sobre o local com uma ou com as duas mãos, ou mesmo com um dedo, ou ainda uma ligadura, dependendo do tamanho e do local do ferimento.
					</li>
					<li>
						Se o pano ou gaze ficar encharcado com sangue, este não deve ser trocado, mas mantido no lugar e colocado outro por cima, para não interromper o processo de coagulação do sangue que está sendo contido.
					</li>
					<li>
						Continuar a compressão até que a hemorragia estanque (no mínimo 10 min.).
					</li>
					<li>
						Em seguida, faça uma ligadura compressiva (que é um curativo bem preso e com certa pressão sobre a região afetada) no local da hemorragia.
					</li>
					<li>
						Durante todo esse processo, deve-se manter a vítima calma e acordada, não dar nada para comer ou para beber e mantê-la aquecida.
					</li>
					<li>
						No caso de hemorragias nos membros com muita abundância de sangue, das quais não se pôde conter após ter aplicado as técnicas acima mencionadas, deve-se transportar a vítima imediatamente a uma unidade de saúde mais próxima.
					</li>
				</ul>
			</p>
		</li>
	</ul>
</div>

<!-- templates

tela reproducao
<div id="templatename">
	<span id="titulo"></span>
	<p id="descricao"></p>
	<p id="instrucoes">
		<ul>
			<li>
			</li>
		</ul>
	</p>
</div>

tela escolha
<div id="templatename">
	<span id="titulo"></span>
	<ul id="escolhas">
		<li>
			<span id="titulo"></span>
			<p id="descricao"></p>
			<p id="instrucoes">
				<ul>
					<li>
					</li>
				</ul>
			</p>
		</li>
	</ul>
</div>
-->parada-
