<script type="text/javascript" src="js/classes/tela-escolha.js"></script>

<div class="container col-xs-12">
	<br />
	<div id="detalhes-tela" class="row">
		<div class="col-xs-3">
			<object id="{icone}" data="img/{icone}.svg"></object>
		</div>

		<div class="col-xs-8">
			<h1 class="titulo">{titulo}</h1>
		</div>
	</div>
	<div id="item-template">
		<br />
		<div class="row">
			<div class="col-xs-3">
				<object id="{icone}" data="img/{icone}.svg"></object>
			</div>
			<div class="col-xs-8 subtitulo">
				<h2>{titulo}</h2>
				<h3>{detalhes}</h3>
			</div>
		</div>
	</div>       
</div>
