/mobile/bower_components/
/mobile/node_modules/
/.sass-cache/
/.tmp/
/coverage/
/merges/
/node_modules/
/mobile/platforms/
/mobile/plugins/
/mobile/!plugins/fetch.json
/mobile/www/lib/
/web-app/www/lib/
/.DS_Store
/mobile/npm-debug.log
/mobile/info.json
/mobile/res/
*~
