<link rel="stylesheet" href="css/tela-escolha.css">
<script type="text/javascript" src="js/tela-escolha.js"></script>

<div class="col-xs-12">
	<div id="detalhes-tela" class="row">
		<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 vertical-center">
			<img id="{icone}" src="img/{icone}.svg"/>
		</div>
		<div class="col-xs-5 col-sm-5 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 vertical-center">
				<h2 class="titulo"><strong>{titulo}</strong></h2>
		</div>
	</div>
	<img id="btn-home" src="img/btn-home.svg" class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
	<br>
	<br>
	<div id="item-template">
		<br>
		<div class="row">
			<div class="col-xs-2 col-sm-offset-1 col-sm-1 col-md-offset-1 col-md-1 col-lg-offset-1 col-lg-1 vertical-center">
				<img id="{icone}" src="img/{icone}.svg" class="escolha"/>
			</div>
			<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9 subtitulo vertical-center">
				<h2 class="escolha">{titulo}</h2>
				<p class="escolha">{descricao}</p>
			</div>
		</div>
	</div>
</div>
